<div class="banner">
  <h1><%= @article.title %></h1>
      <%= link_to edit_article_path(@article) do %><i class="fa fa-pencil"></i><% end %>

      <%= link_to article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="fa fa-trash-o"></i>
      <% end %>
</div>
<div class="container">
  <h2 class="content-text"> <%= @article.content %> </h2>
</div>
